.main-container {
  display: flex;
  justify-content: center;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.main-container__inner {
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  z-index: 18;
  font-family: Roboto;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 24px;
}

.main-container__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 24px;
}
